@font-face {
  font-family: "NewYorkExtraLargeBold";
  src: url('fonts/NewYorkExtraLarge-Bold.ttf');
}

@font-face {
  font-family: "NewYorkSmallMedium";
  src: url('fonts/NewYorkSmall-Medium.ttf');
}

@font-face {
  font-family: "NewYorkSmallRegular";
  src: url('fonts/NewYorkSmall-Regular.ttf');
}

@font-face {
  font-family: "SFMonoLight";
  src: url('fonts/SFMono-Light.woff');
}

@font-face {
  font-family: "SFProDisplayMedium";
  src: url('fonts/SFProDisplay-Medium.OTF');
}

@font-face {
  font-family: "SFProTextRegular";
  src: url('fonts/SFProText-Regular.otf');
}

@font-face {
  font-family: "SFProTextHeavy";
  src: url('fonts/SFProText-Heavy.otf');
}


@font-face {
  font-family: "SFProTextMedium";
  src: url('fonts/SFProText-Medium.otf');
}

@font-face {
  font-family: "SFProTextBold";
  src: url('fonts/SFProText-Bold.otf');
}