@import url("fonts.css");

:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /* Main Page sizes */
  --title-font-size-large: 3.375rem; /* 54px  */
  --title-font-size-medium: 2.75rem; /* 44px  */
  --subtitle-main-font-size: 1.375rem; /* 22px  */
  

  /* Post sizes */
  --subtitle-post-font-size: 2rem; /* 32px  */
  --text-post-font-size: 1.25rem; /* 20px  */

  --white: #FFFFFF;
  --black: #000000;
  --gray: #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
}


img {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 3.75rem;
  border-bottom: var(--gray) 1px solid;;
}

.logo {
  min-height: 1.25rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem
}

.header-link {
  font-size: var(--subtitle-main-font-size);
  font-family: "NewYorkSmallMedium";
  padding: 0px 0px 4.25rem 0px;
  border-bottom: transparent 2px solid;
  transition: border-color 0.3s ease-in-out;
  color: var(--black);
}

.header-link:hover {
  border-color: var(--black);
  transition: border-color 0.5s ease-in-out;
}

.header-link:active,
.header-link:focus {
  border-bottom: 2px solid var(--black);
}

.banner {
  width: 60%;
  margin-top: 4.75rem;
  margin-bottom: 2.75rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#title {
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 18.125rem;
  margin-right: 18.125rem;
  font-family: "NewYorkExtraLargeBold";
  font-size: var(--title-font-size-large);
}

#subtitle {
  margin-left: 26.5rem;
  margin-right: 26.5rem;
  margin-bottom: 2.125rem;
  font-family: "SFMonoLight";
  text-align: center;
  font-size: var(--subtitle-main-font-size);
}

#title-articles {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: var(--title-font-size-medium);
  font-family: "NewYorkExtraLargeBold";
  text-align: center;
}

.articles {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 4rem;
  flex-direction: column;
  border-top: var(--black) 2px solid;
}

.grid-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  row-gap: 4rem;
  column-gap: 2rem;
  /* background-color: var(--black); */
}

.item {
  font-family: "SFProDisplayMedium";
  font-size: var(--subtitle-main-font-size);
  /* background-color: var(--gray); */
  text-align: center;
}

.image-article{
  width: fit-content;
}

