@import url("fonts.css");

:root {
  --font-poppins: 'Poppins', sans-serif;

  /* Main Page sizes */
  --title-font-size-large: 3.375rem; /* 54px  */
  --title-font-size-medium: 2.75rem; /* 44px  */
  --subtitle-main-font-size-medium: 1.375rem; /* 22px  */
  --subtitle-main-font-size-small: 1.25rem; /* 20px  */
  

  /* Post sizes */
  --subtitle-post-font-size: 2rem; /* 32px  */
  --text-post-font-size: 1.25rem; /* 20px  */

  --white: #FFFFFF;
  --black: #000000;
  --gray: #D6D6D6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  width: 100%;
  height: auto;
} */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 3.75rem;
  border-bottom: var(--gray) 1px solid;
  background-color: var(--white);
  position: fixed;
}

.logo {
  min-height: 1.25rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}

.header-link {
  font-size: var(--subtitle-main-font-size-small);
  font-family: "NewYorkSmallMedium", var(--font-poppins);
  border-bottom: transparent 2px solid;
  transition: border-color 0.3s ease-in-out;
  color: var(--black);
}

.header-link:hover {
  border-color: var(--black);
  transition: border-color 0.5s ease-in-out;
}

.header-link:active,
.header-link:focus {
  border-bottom: 2px solid var(--black);
}

.banner-section {
  padding-top: 9rem;
}

.banner {
  width: 60%;
  margin-top: 4.75rem;
  margin-bottom: 2.75rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#title {
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 18.125rem;
  margin-right: 18.125rem;
  font-family: "NewYorkExtraLargeBold", var(--font-poppins);
  font-size: var(--title-font-size-large);
}

#subtitle {
  margin-left: 26.5rem;
  margin-right: 26.5rem;
  margin-bottom: 2.125rem;
  font-family: "SFMonoLight", var(--font-poppins);
  text-align: center;
  font-size: var(--subtitle-main-font-size-small);
}

#title-articles {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: var(--title-font-size-medium);
  font-family: "NewYorkExtraLargeBold", var(--font-poppins);
  text-align: center;
}

.articles {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 4rem;
  flex-direction: column;
  border-top: var(--black) 2px solid;
}

.grid-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  row-gap: 4rem;
  column-gap: 2rem;
  
}

.item {
  text-align: center;
}

.grid-text {
  font-family: "SFProDisplayMedium", var(--font-poppins);
  font-size: var(--subtitle-main-font-size-medium);
  color: var(--black);
}

.image-article{
  width: fit-content;
  max-width: 304px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

.keywords {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin-bottom: 6.25rem;
}

#keywords strong {
  margin-right: 25px;
}

#keywords strong:not(:first-child) {
  margin-left: 25px;
}

footer > section > #keywords {
  color: var(--white);
  font-family: "SFProTextRegular", var(--font-poppins);
  font-size: var(--subtitle-main-font-size-small);
  margin-top: 1.125rem;
}


footer > section > #keywords > strong {
  font-family: "SFProTextHeavy", var(--font-poppins);
}

.section-baseboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo-footer {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

#baseboard {
  font-family: "NewYorkSmallRegular", var(--font-poppins);
  color: var(--white);
  text-align: center;
  margin: 2rem 29.375rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-family: "SFProTextMedium", var(--font-poppins);
  font-size: 1rem;
  text-align: center;
  color: var(--white);
  text-decoration: solid underline var(--white);
}

small {
  font-family: "SFProTextRegular", var(--font-poppins);
  font-size: 0.75rem;
  text-align: center;
  color: var(--white);
}